@for (i of data; track i.identificationNumber) {

  <article class="card">

    <div class="contact-info">

      <h3>
        {{ i.firstName }} {{ i.surname }}
      </h3>

      <p>
        Fecha de nacimiento:
        {{ i.birthdate }}
        ({{ getAge(i.birthdate) }} años)
      </p>

      <p>
        Teléfono:
        {{ i.phoneNumber }}
      </p>

      <p>
        Correo:
        {{ i.email }}
      </p>

    </div>

    <div class="credit-history">

      <h3>
        Historial de crédito
      </h3>

      @for (item of i.creditHistory; track item.pastCreditId) {

        <p>
          {{ item.pastCreditId }}
          —
          {{ item.status }}
          —
          {{ item.behavior }}
        </p>

      } @empty {

        <p>
          No hay datos de créditos
        </p>

      }

    </div>

  </article>

} @empty {

  <p>
    Sin información
  </p>

}