<section class="users-list">

  @for (user of users; track user.id) {

    <article class="user-card">

      <div class="user-info">

        <h2>
          {{ user.id }} - {{ user.firstName }} {{ user.lastName }}
        </h2>

        <p>
          <strong>Username:</strong> {{ user.username }}
        </p>

        <p>
          <strong>Email:</strong> {{ user.email }}
        </p>

      </div>

      <div class="posts">

        @for (post of getPostsByUser(user.id); track post.id) {

          <article class="post-card">

            <h3>
              {{ post.id }} - {{ post.title }}
            </h3>

            <p>
              {{ post.body }}
            </p>

          </article>

        } @empty {

          <p>No hay publicaciones para este usuario.</p>

        }

      </div>

    </article>

  } @empty {

    <p>No hay usuarios disponibles.</p>

  }

</section>