@if (recipe) {

  <article class="recipe-card">

    <h1>
      {{ recipe.id }} - {{ recipe.name }}
    </h1>

    <img
      [src]="recipe.image"
      [alt]="recipe.name"
    >

    <p>
      <strong>Difficulty:</strong> {{ recipe.difficulty }}
    </p>

    <p>
      <strong>Cuisine:</strong> {{ recipe.cuisine }}
    </p>

    <p>
      <strong>Calories:</strong> {{ recipe.caloriesPerServing }}
    </p>

    <h2>Ingredients</h2>

    <ul>
      @for (ingredient of recipe.ingredients; track ingredient) {
        <li>{{ ingredient }}</li>
      }
    </ul>

    <h2>Instructions</h2>

    <ol>
      @for (instruction of recipe.instructions; track instruction) {
        <li>{{ instruction }}</li>
      }
    </ol>

  </article>

} @else {

  <p>No se encontró la receta.</p>

}























